body {
  padding: 3em;
}

.container {
  padding: 2em;
}

.tic-tac-toe {
  --width: 200px;
  
  display: grid;
  grid-template: repeat(3, calc(var(--width) / 3)) / repeat(3, calc(var(--width) / 3));
  grid-gap: 2px;
  background: black;
  width: calc(var(--width) + 4px);
}

.tic-tac-toe > * {
  background: white;
}